@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  width: 4rem; /* Size of the loader */
  height: 4rem;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: currentColor;
  animation: spin 1s linear infinite;
  color: #d946ef; /* Base gradient color for smooth transition */
  background-clip: padding-box;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
